<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/bootstrap-3.3.5-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/animate.css" />
	<link rel="stylesheet" href="../css/style.css" />
  <link href="http://api.map.baidu.com/library/TrafficControl/1.4/src/TrafficControl_min.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=3mtx2WgEkSe1bP1GtGG0snGyb5qFKxtR"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/library/TrafficControl/1.4/src/TrafficControl_min.js"></script>
  <title>路况和车辆实时位置监控</title>
  <style>
    .animated {
      animation-fill-mode: none;
    }
    .m-table-group {
      padding: 0 15px;
    }
  </style>
</head>
<body>
  <div id="container">
    <m-nav :value="'bus_position_control'"></m-nav>
    <div class="m-home"  v-cloak>
      <div id="bmap" style="width: 100%;height:700px;overflow: hidden;margin:0;font-family:'微软雅黑';"></div>
      <div class="m-table-group">
        <h2 class="m-tabel-title">车辆实时信息</h2>
        <div class="bootstrap-table table-responsive">
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th v-for="item in tableHeader">
                      <div class="th-inner">{{item.title}}</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                    <tr v-for="(el, index) in items" :key="el" class="animated bounce">
                      <td v-for="item in tableHeader">{{ item.prop === 'index' ? (index + 1) : el[item.prop] }}</td>
                    </tr>
                </tbody>
              </table>
            </div>
      </div>

     </div>
    

     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
		  <div class="modal-dialog modal-w6" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel2">车辆详情 - {{busPartner}} - {{busTitle}}</h4>
		      </div>
		      <div class="modal-body">
		      	<table class="table table-hover table-bordered">
		      		<thead>
                <tr>
                  <th v-for="item in busDetailsHeader">
                    <div class="th-inner">{{item.title}}</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                  <tr v-for="(el, index) in busDetails">
                    <td v-for="item in busDetailsHeader">{{ item.prop === 'index' ? (index + 1) : el[item.prop] }}</td>
                  </tr>
              </tbody>
		      	</table>
		      </div>
		    </div>
		  </div>
		</div>


  </div>
  <script src="../js/libs/require.min.js"></script>
	<script src="../js/conf/require_config.js" ></script>
  <script>
    require(['busPositionControl'], function(busPositionControl) {
      
    })
	</script>
</body>
</html>