<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/bootstrap-3.3.5-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/animate.css" />
  <link rel="stylesheet" href="../css/style.css" />
  <title>乘车监控</title>
  <style>
    .animated {
      animation-fill-mode: backwards;
    }
    .m-table-group {
      padding: 0 15px;
    }
  </style>
</head>
<body>
  <div id="container">

    <m-nav :value="'riding_control'"></m-nav>
    <div class="m-home">
        <div id="main" style="width: 100%;height:700px;"></div>
        <div class="m-table-group"  v-cloak>
          <h2 class="m-tabel-title">实时乘车信息</h2>
          <div class="bootstrap-table table-responsive">
                <table class="table table-hover table-bordered">
                  <thead>
                    <tr>
                      <th v-for="item in tableHeader">
                        <div class="th-inner">{{item.title}}</div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr v-for="(el, index) in items" :key="el" class="animated bounce">
                        <td v-for="item in tableHeader">{{ item.prop === 'index' ? (index + 1) : el[item.prop] }}</td>
                      </tr>
                  </tbody>
                </table>
          </div>
        </div>
      </div>



  </div>


 <script src="../js/libs/require.min.js"></script>
 <script src="../js/conf/require_config.js" ></script>
 <script>
    require(['ridingControl'], function(ridingControl) {
      
    })
  </script>
    </body>
    </html>