/**(
 *     
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  /*margin: 0;*/
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style-type: none;
  font-family: "微软雅黑", "Microsoft YaHei";
}
html,
body {
  height: 100%;
  /*overflow: hidden;*/
}
table {
  font-size: 14px;
}
label {
  max-width: inherit;
}
hr {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  cursor: pointer;
}
a:hover,
a:focus {
  outline: none;
  /*text-decoration: none;*/
}
.bootstrap-table {
  position: relative;
}
.table-responsive {
  overflow-x: visible;
}
/*-----改变分页栏样式-----*/
.pagination > li > a,
.pagination > li > span {
  color: #21906f;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #21906f;
  border-color: #21906f;
}
.arrow2 {
  margin: 3px 8px 4px 0;
  border-left: 5px dashed transparent;
  border-bottom: 5px dashed transparent;
  border-top: 5px dashed transparent;
  border-right: 5px solid #ccc;
  display: inline-block;
  vertical-align: middle;
}
.arrow3 {
  margin: 3px 0 4px 8px;
  border-top: 5px dashed transparent;
  border-bottom: 5px dashed transparent;
  border-right: 5px dashed transparent;
  border-left: 5px solid #ccc;
  display: inline-block;
  vertical-align: middle;
}
/*修改按钮禁用后的背景色颜色*/
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  background-color: #21906f;
  border-color: #21906f;
}
/*改变选项卡选中的边框颜色和字体颜色*/
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #21906f;
  background-color: #fff;
  border: 1px solid #21906f;
  border-bottom-color: transparent;
}
/*改变选中文本框时的边框颜色*/
.form-control:focus {
  border-color: #29BC8E;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
/*改变按钮颜色*/
.btn-primary {
  background: #21906f;
  border-color: #21906f;
}
.btn-primary:focus,
.btn-primary.focus {
  background-color: #006F4D;
  border-color: #122b40;
}
.btn-primary:hover {
  background-color: #006F4D;
  border-color: #204d74;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #006F4D;
  border-color: #204d74;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
  color: #999;
}
.modal-body {
  max-height: 380px;
  overflow: auto;
}
/*模态框样式*/
.modal .form-group {
  padding: 5px 0px;
  margin-right: 10px;
  margin-left: 15px;
  margin-bottom: 0;
}
.modal .data-input-wrap {
  margin-left: 0;
}
.modal .modal-dialog.modal-w8 {
  min-width: 800px;
}
.modal .modal-dialog.modal-w7 {
  min-width: 700px;
}
.modal .modal-dialog.modal-w6 {
  min-width: 620px;
}
.modal .modal-dialog.modal-w4 {
  min-width: 420px;
  max-width: 420px;
}
.modal .modal-dialog.modal-w3 {
  min-width: 380px;
  max-width: 380px;
}
.modal .modal-dialog.modal-w2 {
  min-width: 260px;
  max-width: 260px;
}
.modal .modal-footer {
  text-align: center;
}
.modal .modal-header {
  cursor: move;
}
.form-control.inp3 {
  width: 300px;
}
.flexBox {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: baseline;
  -moz-box-align: baseline;
  -ms-flex-item-align: baseline;
  align-items: baseline;
}
@media (min-width: 768px) {
  .form-inline .form-number {
    min-width: 90px;
    max-width: 90px;
  }
  .form-inline .form_date {
    min-width: 105px;
    max-width: 105px;
  }
  .form-inline .form_time {
    min-width: 105px;
    max-width: 105px;
  }
  .form-inline .form-stations {
    min-width: 170px;
  }
}
header {
  width: 100%;
  background: #21906F;
  min-height: 50px;
  color: #fff;
  font-size: 16px;
}
header a {
  color: #fff;
}
header .sfc-top {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 15px;
  /* height: 100%; */
  line-height: 50px;
  width: 100%;
}
header .nav {
  float: right;
  margin: 0 15px 0 0;
}
header .kf {
  padding-right: 12px;
  border-right: 2px solid #fff;
}
header .quit {
  padding: 0 12px;
  /*color: #0044CC;*/
}
.inl-blo {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
}
.list-group {
  z-index: 1008;
}
.input-group-addon {
  width: inherit;
}
.ms-controller {
  visibility: hidden;
}
/*侧边导航栏样式*/
.sfc-layout-main-container {
  background-color: #fff;
  width: 100%;
  height: 100%;
  min-height: auto;
  overflow-x: hidden;
}
.sfc-layout-main-container .aside {
  position: fixed;
  z-index: 999;
  width: 220px;
  height: 1289px;
  /*transform: translateX(-278px); */
  transition: all 0.3s;
  background: #fff;
}
.sfc-layout-main-container nav {
  border-right: 1px #e5e9f2 solid;
  font-size: 16px;
  overflow: auto;
}
.sfc-layout-main-container nav > * {
  overflow: hidden;
}
nav .list {
  overflow: hidden;
  /*transform: translateY(-25px);*/
  transition: all 0.3s;
  text-align: left;
}
nav .list li span.glyphicon {
  color: #888;
}
nav .list a {
  color: #666;
  display: block;
}
.list a.sub-list-item {
  display: inline;
}
nav .list > li {
  display: block;
  margin: 0;
  padding: 5px 10px;
  border-bottom: 1px #e5e9f2 solid;
}
nav .list > li .list-title {
  font-size: 18px;
  cursor: pointer;
}
nav .list > li .sub-list,
.sub-list > li .sub-sub-list {
  margin: 0 0 0 28px;
}
nav .list > li .sub-list > li,
.sub-list > li .sub-sub-list > li {
  padding: 3px 0;
}
.cuttle {
  width: 26px;
  height: 26px;
  position: absolute;
  /*margin-left: 233px;*/
  right: 0;
  margin-top: -1px;
  box-shadow: -8px 8px 20px 0 #9d9d9d;
  font-size: 16px;
  color: #21906f;
  background: #ffffff;
  cursor: pointer;
}
.cuttle_headline {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: -28px;
  background: #fff;
  /*padding: 15px 5px;*/
  width: 26px;
  box-shadow: 8px 14px 22px 0 #9d9d9d;
  font-size: 16px;
  color: #333;
  transition: all 0.3s;
  overflow: hidden;
  min-height: 0;
}
.cuttle.glyphicon-arrow-left:before,
.cuttle.glyphicon-arrow-down:before {
  vertical-align: -webkit-baseline-middle;
  padding: 0 5px;
}
.cuttle h3 {
  text-align: center;
  margin: 8px;
}
.sfc-layout-main {
  height: calc(100% - 80px);
  overflow: hidden;
  margin: 0 0 0 220px;
  transition: all 0.3s;
  transition-delay: 0.1s;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
.nav-active {
  border-bottom: 1px solid #21906f;
  box-shadow: 3px 3px 8px 1px #9d9d9d;
  background: #21906f;
  text-align: center;
  border-radius: 4px;
}
.list .nav-active > a {
  color: #fff;
}
/*总体布局*/
.g-content-wrap {
  padding: 15px 15px 10px 15px;
}
/*顶部条件搜索栏模块*/
.u-column .text-input {
  padding: 0 15px 0 0;
  margin: 0 10px 8px -15px;
}
.panel .padi-txtarea {
  height: 27px;
  width: 424px;
  max-width: 424px;
  margin: 5px 0 0;
}
.panel .data-input-wrap {
  margin-left: 0;
}
.data-input-wrap {
  margin-left: 15px;
}
.data-input-wrap.nop {
  margin-left: 0;
}
.data-input-wrap > span {
  padding-right: 33px;
}
.data-input-wrap .form-group > span {
  padding: 0 8px;
}
/*旅行社列表*/
.travel-top {
  margin: 0 15px 15px;
}
.button-wrap .button-band {
  padding: 0 15px 0px;
  float: left;
}
.button-band button {
  padding: 8px 12px;
}
.fixed-table-toolbar .search {
  padding: 0 20px 10px 0;
}
.fixed-table-container .td-radio {
  text-align: center;
}
.fixed-table-container table > tbody > tr > td {
  position: relative;
}
.fixed-table-container table.table-popup {
  position: absolute;
  z-index: 999;
  width: 280px;
  top: -50px;
  left: -50px;
  background: #f8f8f8;
  box-shadow: 0 1px 5px 1px #999;
}
.panel_fade {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1020;
  display: none;
  outline: 0;
}
.panel {
  /*width:calc(100% - 100px);*/
  min-width: 620px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 999;
}
.panel .panel-heading {
  cursor: move;
}
.panel .panel-heading .remove-btn {
  float: right;
  cursor: pointer;
}
.panel .panel-heading .remove-btn .glyphicon {
  transform: rotate(0deg);
  transition: all 0.6s;
  font-size: 21px;
}
.panel label {
  min-width: 80px;
}
.panel label.glyphicon {
  min-width: auto;
}
.panel .start_group,
.panel .end_group {
  margin: 0 -15px;
  padding: 0 15px;
  border-bottom: 1px solid #ccc;
}
.panel .start_group .text-input,
.panel .end_group .text-input {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: baseline;
  -moz-box-align: baseline;
  -ms-flex-item-align: baseline;
  align-items: baseline;
}
.panel.panel-w8 {
  max-width: 800px;
}
.panel.panel-w7 {
  max-width: 720px;
}
.panel.panel-w6 {
  max-width: 630px;
  min-width: 600px;
}
.panel.panel-w5 {
  max-width: 550px;
  min-width: 535px;
}
.panel.panel-w4 {
  max-width: 420px;
  min-width: 420px;
}
.panel .panel-body {
  padding: 10px 15px;
  max-height: 500px;
  overflow: auto;
}
.panel .panel-body form {
  margin: 0 15px;
}
.panel .panel-footer {
  background: #fff;
}
.panel .shifts {
  border-bottom: 1px solid #ccc;
}
.panel .shifts:last-child {
  border: 0;
}
.panel-success .row {
  padding: 5px 0;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: baseline;
  -moz-box-align: baseline;
  -ms-flex-item-align: baseline;
  align-items: baseline;
}
.panel-success .row .glyphicon {
  cursor: pointer;
}
.panel-success .row .btn-bar {
  flex-grow: 1;
  text-align: right;
}
.panel-success .row .btn-bar button {
  margin-right: 15px;
}
.panel-success .row .text-input {
  padding-right: 10px;
}
.panel-success .form-horizontal {
  margin: 20px 0 0;
}
.panel-success .btn_cen_paple {
  text-align: center;
  padding: 8px 0;
}
.red-start {
  color: red;
}
.glyphicon-remove-circle.error-info {
  color: #ff4943;
  font-size: 21px;
  vertical-align: middle;
  padding: 0 0 0 3px;
}
/*顺风车业务模块*/
.tab-mian-group > .nav-tabs {
  padding: 0 0 0 65px;
  margin-bottom: 15px;
}
/*路线*/
.search {
  margin-left: 0;
  margin-right: 0;
}
.search label {
  min-width: 98px;
}
.search .form-group {
  margin-top: 15px;
}
.route-ple {
  display: flex;
}
.route-ple.search {
  padding: 15px 15px 0;
}
.route-ple p {
  padding: 10px 20px 0 0;
}
.radio-row {
  padding: 10px 0 0;
  display: -webkit-flex;
  display: flex;
}
.radio-row .radio1 {
  padding: 0 30px 0 0;
}
.radio-row span,
.check-row span {
  padding: 5px 8px 0 0;
  vertical-align: sub;
}
.radio-row > span,
.check-row > span {
  padding-right: 10px;
}
.panel .select-contant {
  display: flex;
}
.select_wrap select {
  min-width: 150px;
}
.select_wrap > p {
  background: #46b8d9;
  text-align: center;
  padding: 5px 0;
  color: #fff;
  margin: 0;
  font-size: 14px;
}
.sel-btn-wrap {
  width: 110px;
  padding-top: 30px;
}
.sel-btn-wrap button {
  margin: 5px 15px 0;
}
.site_rules {
  max-width: 860px;
  min-width: 760px;
  display: flex;
  border: 1px solid #666;
  margin: 15px 0 0 !important;
  padding: 0 15px !important;
}
.site_rules h2 {
  font-size: 21px;
  line-height: 66px;
}
.site_rules .col-xs-1,
.site_rules .col-xs-2,
.site_rules .col-xs-3,
.site_rules .col-xs-4 {
  padding: 0;
}
.site_rules .rg {
  padding: 0;
}
.site_rules .rg p {
  text-align: center;
}
.site_rules .rg p.first_site {
  font-size: 21px;
  margin: 0 0 5px;
}
/*实时排班*/
.terd {
  padding: 20px 0;
  font-size: 21px;
}
.terd span {
  padding: 0 15px;
}
.terd span:first-child {
  border-right: 1px solid #eee;
}
/*车队列表*/
.list {
  padding: 20px 0 0;
}
/*车辆列表*/
.search_mark {
  padding: 0 25px 0 0;
}
/*@发放代金券*/
.giving-body {
  padding: 0 15px;
}
.giving-body .submit-btn-row {
  padding: 30px 0 80px;
}
/*运营统计*/
.normal-row {
  margin: 15px -10px 0;
}
.normal-col {
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
}
/*新增修改角色*/
.management .col {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}
.management .ment {
  height: 660px;
  overflow: auto;
}
/*list-group弹窗的样式*/
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: #21906f;
  border-color: #21906f;
}
.group-content {
  display: none;
}
.list-group {
  position: absolute;
  box-shadow: #000000 0 -1px 16px -2px;
}
.list-group-item {
  display: flex;
}
.list-group-item p {
  text-align: center;
  width: 120px;
}
.group-content .list-head {
  margin: 0;
  text-align: right;
  background: #fff;
}
.list-head .close-icon {
  box-shadow: -3px 3px 3px 1px #cccccc;
  cursor: pointer;
}
.scroll-group {
  overflow: auto;
  max-height: 320px;
  box-shadow: 0 3px 16px -2px #000000;
}
.scroll-group .list-group-item:first-child,
.scroll-group .list-group-item:last-child {
  border: 0;
}
.u-td {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
}
.u-status2 {
  background: #e5e5e5 !important;
  color: #999 !important;
}
.u-status1 {
  background: #ebcccc !important;
  color: #b86463 !important;
}
.tr-active {
  background-color: #a6c8e6 !important;
  color: #132339 !important;
}
.u-file-warp {
  display: inline-block;
  position: relative;
  margin-right: 25px;
}
.u-file-warp .u-file {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.modal-body-header {
  display: flex;
  justify-content: space-between;
}
.modal-body-header span {
  padding: 0 35px 0 0;
}
#container {
  display: flex;
}
[v-cloak] {
  display: none;
}
.m-nav {
  padding: 10px 0;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  min-width: 200px;
}
.m-nav li {
    padding: 10px;
}
.m-nav li.active {
    background: #337ab7;
}
.m-nav li.active a {
    color: #fff;
}
.m-home {
  flex-grow: 1;
}
