@charset "utf-8";
/* CSS Document */


#background{margin-top:0px;font-size:16pt;
          margin-top: 200px;  
   background-image: url(../img/bg3.jpg);
   
  
   border: 1px solid #CFCDD0;

   }
#submit{
       margin-top:0px;font-size:14pt;font-weight: 400;margin-bottom: 10px;
   }
.form1{        
               margin-top: 10px;
               margin-bottom: 10px;
               width:900px;
             
               background-color: rgba(255,255,255,0.4) ;
               border-top-left-radius: 30px;

               border-top-right-radius: 30px;

               border-bottom-left-radius: 30px;

               border-bottom-right-radius: 30px;
              }
.table1{       font-family              : Arial,  Calibri, Tahoma, Verdana;
               font-size                : 14pt;
               font-weight              : 400;
               width:900px;
               height:300px;
              
             }



.table2{       font-family              : Arial,  Calibri, Tahoma, Verdana;
               font-size                : 12pt;
               font-weight              : 400;
               width:900px;
               height:200px;
              

             }
  
table {        font-family              : Arial,  Calibri, Tahoma, Verdana;
               font-size                : 15pt;
               font-weight              : 500;
               column-width:            300pt;

             }

           select.selectPoint
            {
               width                    : 160pt;
               height                   : 29pt;
               line-height              : 30pt;
               padding-right            : 20pt;
               text-indent              : 4pt;
               text-align               : left;
               vertical-align           : middle;
               box-shadow               : inset 0 0 3px #606060;
               border                   : 1px solid #0379D3;
               -moz-border-radius       : 6px;
               -webkit-border-radius    : 6px;
               border-radius            : 6px;
               -webkit-appearance       : none;
               -moz-appearance          : none;
               appearance               : none;
               font-family              : Arial,  Calibri, Tahoma, Verdana;
               font-size                : 13pt;
               font-weight              : 500;
               color                    : #0379D3;
               cursor                   : pointer;
               outline                  : none;
            }
            select.selectPoint option
            {
                padding             : 4px 10px 4px 10px;
                font-size           : 11pt;
                font-weight         : normal;
            }
            select.selectPoint option[selected]{ font-weight:bold}
            select.selectPoint option:nth-child(even) { background-color:#f5f5f5; }
            select.selectPoint:hover {font-weight: 700;}
            select.selectPoint:focus {box-shadow: inset 0 0 5px #000099; font-weight: 600;}
 
            /*LABEL FOR SELECT*/
            label.lblSelect{ position: relative; display: inline-block;}
            /*DOWNWARD ARROW (25bc)*/
            label.lblSelect::after
            {
                content                 : "\25bc";
                position                : absolute;
                top                     : 0;
                right                   : 0;
                bottom                  : 0;
                width                   : 20pt;
                line-height             : 40pt;
                vertical-align          : middle;
                text-align              : center;
                background              : #000099;
                color                   : #fefefe;
               -moz-border-radius       : 0 6px 6px 0;
               -webkit-border-radius    : 0 6px 6px 0;
                border-radius           : 0 6px 6px 0;
                pointer-events          : none;
            }


select.selectPoint1
            {
               width                    : 70pt;
               height                   : 30pt;
               line-height              : 30pt;
               padding-right            : 10pt;
               text-indent              : 4pt;
               text-align               : left;
               vertical-align           : middle;
              
            }
           
 
          


.input1{

               width                    : 150pt;
               height                   : 30pt;
               line-height              : 30pt;
               padding-right            : 10pt;
               text-indent              : 4pt;
               text-align               : left;
               vertical-align           : middle;



}

.button1 {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 10pt Arial, Helvetica, sans-serif;
  padding: .4em 1em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button1:hover {
  text-decoration: none;
}
.button1:active {
  position: relative;
  top: 1px;
}

.help{

font-size: 12px;

}

.button-group{
    max-height: 100px;
    position: absolute;
    top: 30px;
    right: 70px;


}